/* Reset */
* {
  margin: 0;
  padding: 0;
}
* li {
  list-style: none;
}
* a {
  text-decoration: none;
  transition: 0.3s ease all;
}
* a:visited {
  color: #333333;
}
* img {
  width: 100%;
  height: auto;
}

body {
  color: #222222;
  background-color: #ffffff;
  font-family: "NATS", sans-serif;
  transition: background 0.5s ease;
}
body.bg-contents1 {
  background: linear-gradient(90deg, #ffffff, #3769cd 70%, #ffffff 71%, #ffffff 100%);
}
body.bg-contents2 {
  background: linear-gradient(90deg, #ffffff, #ff7b26 70%, #ffffff 71%, #ffffff 100%);
}
body.bg-contents3 {
  background: linear-gradient(90deg, #ffffff, #49c8f7 70%, #ffffff 71%, #ffffff 100%);
}
body.bg-contents4 {
  background: linear-gradient(90deg, #ffffff, #1e9d5a 70%, #ffffff 71%, #ffffff 100%);
}
body.bg-contents5 {
  background: linear-gradient(90deg, #ffffff, #02a69f 70%, #ffffff 71%, #ffffff 100%);
}
body.bg-contents6 {
  background: linear-gradient(90deg, #ffffff, #418dff 70%, #ffffff 71%, #ffffff 100%);
}
body.bg-contents7 {
  background: linear-gradient(90deg, #ffffff, #a94b35 70%, #ffffff 71%, #ffffff 100%);
}
body.bg-contents8 {
  background: linear-gradient(90deg, #ffffff, #ff7b26 70%, #ffffff 71%, #ffffff 100%);
}
body.bg-contents9 {
  background: linear-gradient(90deg, #ffffff, #ffdf39 70%, #ffffff 71%, #ffffff 100%);
}
body.bg-contents10 {
  background: linear-gradient(90deg, #ffffff, #2d79b5 70%, #ffffff 71%, #ffffff 100%);
}
@media screen and (max-width: 1366px) {
  body.bg-contents1 {
    background: linear-gradient(90deg, #ffffff, #3769cd 60%, #ffffff 61%, #ffffff 100%);
  }
  body.bg-contents2 {
    background: linear-gradient(90deg, #ffffff, #ff7b26 60%, #ffffff 61%, #ffffff 100%);
  }
  body.bg-contents3 {
    background: linear-gradient(90deg, #ffffff, #49c8f7 60%, #ffffff 61%, #ffffff 100%);
  }
  body.bg-contents4 {
    background: linear-gradient(90deg, #ffffff, #1e9d5a 60%, #ffffff 61%, #ffffff 100%);
  }
  body.bg-contents5 {
    background: linear-gradient(90deg, #ffffff, #02a69f 60%, #ffffff 61%, #ffffff 100%);
  }
  body.bg-contents6 {
    background: linear-gradient(90deg, #ffffff, #418dff 60%, #ffffff 61%, #ffffff 100%);
  }
  body.bg-contents7 {
    background: linear-gradient(90deg, #ffffff, #a94b35 60%, #ffffff 61%, #ffffff 100%);
  }
  body.bg-contents8 {
    background: linear-gradient(90deg, #ffffff, #ff7b26 60%, #ffffff 61%, #ffffff 100%);
  }
  body.bg-contents9 {
    background: linear-gradient(90deg, #ffffff, #ffdf39 60%, #ffffff 61%, #ffffff 100%);
  }
  body.bg-contents10 {
    background: linear-gradient(90deg, #ffffff, #2d79b5 60%, #ffffff 61%, #ffffff 100%);
  }
}
@media screen and (max-width: 1100px) {
  body {
    background-color: #ffffff;
  }
}
body .wrap {
  width: 100%;
  overflow: hidden;
  display: flex;
}
body .wrap header {
  width: calc(70% - 287px);
  padding: 0 40px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 1366px) {
  body .wrap header {
    width: calc(100% - 718px);
    padding: 0 24px;
  }
}
@media screen and (max-width: 1100px) {
  body .wrap header {
    display: none;
  }
}
body .wrap header h1 {
  display: block;
  width: 100%;
  margin: 24px auto 40px;
  font-size: 64px;
  line-height: 72px;
  color: #222222;
}
body .wrap header img {
  display: block;
  width: 85%;
  height: auto;
  margin: 0 auto;
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
  background-position: center;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
}
@media screen and (max-width: 1366px) {
  body .wrap header img {
    width: 100%;
  }
}
body .wrap nav {
  width: calc(70% + 207px);
  position: fixed;
  left: calc(70% + 207px);
  top: 0;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s;
}
@media screen and (max-width: 1366px) {
  body .wrap nav {
    width: 250px;
    left: calc(100% - 250px);
  }
}
@media screen and (max-width: 670px) {
  body .wrap nav {
    display: none;
  }
}
body .wrap nav.highlight a {
  color: #222222;
}
body .wrap nav.fade-out {
  opacity: 0;
}
body .wrap nav ul {
  width: 100%;
  margin: 32px 0 0 32px;
}
body .wrap nav ul li {
  line-height: 1;
}
body .wrap nav ul li.heading {
  margin: 0 0 24px 0;
  font-size: 32px;
}
body .wrap nav ul li.sub-title {
  margin: 16px 0 0 16px;
  font-size: 24px;
}
body .wrap nav ul li a {
  color: #aaaaaa;
  line-height: 1;
  display: inline-block;
}
body .wrap nav ul li a.active-link {
  color: #222222;
  position: relative;
}
body .wrap nav ul li a.active-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 2px;
  right: 2px;
  height: 2px;
  border-radius: 2px;
  background-color: #222222;
}
body .wrap nav ul li a:hover {
  color: #222222;
}
body .wrap main {
  width: 366px;
  position: relative;
  left: calc(70% - 207px);
  top: 0;
  padding: 0 24px;
  background-color: #ffffff;
  border-left: 3px solid #222222;
  border-right: 3px solid #222222;
}
@media screen and (max-width: 1366px) {
  body .wrap main {
    left: calc(100% - 670px);
  }
}
@media screen and (max-width: 1100px) {
  body .wrap main {
    width: calc(100% - 300px);
    left: 0;
  }
}
@media screen and (max-width: 670px) {
  body .wrap main {
    width: calc(100% - 48px);
  }
}
body .wrap main section {
  width: 100%;
  margin: 40px auto;
}
body .wrap main section#title {
  margin: 24px 0 40px;
}
body .wrap main section h2 {
  font-size: 48px;
  line-height: 1.5em;
  margin: 0 0 16px;
}
body .wrap main section h2.title {
  color: #222222;
  line-height: 56px;
}
body .wrap main section img {
  margin: 0;
  display: block;
}
body .wrap main section .text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  margin: 8px auto 0;
}
body .wrap main section ul {
  width: 100%;
  margin: 16px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
  flex-wrap: wrap;
}
body .wrap main section ul li img {
  width: 40px;
  height: auto;
}
body .wrap main section .work {
  width: 100%;
  margin: 64px 0 0;
}
body .wrap main section .work h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5em;
  margin: 0 0 32px;
}
body .wrap main section .work .tip {
  width: 100%;
  margin: 0;
  display: flex;
  gap: 16px;
}
body .wrap main section .work .tip span {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
}
body .wrap main section .work .tip .design {
  color: #0B6236;
  border: 2px solid #0B6236;
}
body .wrap main section .work .tip .markup {
  color: #6C2596;
  border: 2px solid #6C2596;
}
body .wrap main section .work .tip .banner {
  margin: 24px 0 0;
}
body .wrap main section .work a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: calc(100% - 128px);
  margin: 32px auto 0;
  padding: 20px 24px;
  border: 1px solid #222222;
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  max-width: 240px;
}
body .wrap main section .work a .arrow {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-top: 7.8px;
  border-radius: 9999px;
  background-color: #333333;
}
body .wrap main section .work a .arrow::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.5px);
  right: 0;
  width: 12px;
  height: 1px;
  border-radius: 9999px;
  background-color: #333333;
  transform: rotate(45deg);
  transform-origin: calc(100% - 0.5px) 50%;
}
body .wrap main section .work a:hover {
  color: #ffffff;
}
body .wrap main section .work a:hover .arrow {
  background-color: #ffffff;
}
body .wrap main section .work a:hover .arrow::before {
  background-color: #ffffff;
}
body .wrap main section .work:nth-of-type(1) a:hover {
  background-color: #3769cd;
  border: 1px solid #3769cd;
}
body .wrap main section .work:nth-of-type(2) a:hover {
  background-color: #ff7b26;
  border: 1px solid #ff7b26;
}
body .wrap main section .work:nth-of-type(3) a:hover {
  background-color: #12ace4;
  border: 1px solid #12ace4;
}
body .wrap main section .work:nth-of-type(4) a:hover {
  background-color: #1e9d5a;
  border: 1px solid #1e9d5a;
}
body .wrap main section .work:nth-of-type(5) a:hover {
  background-color: #02a69f;
  border: 1px solid #02a69f;
}
body .wrap main section .work:nth-of-type(6) a:hover {
  background-color: #418dff;
  border: 1px solid #418dff;
}
body .wrap main section .work:nth-of-type(7) a:hover {
  background-color: #a94b35;
  border: 1px solid #a94b35;
}
body .wrap main section .work:nth-of-type(8) a:hover {
  background-color: #ff7b26;
  border: 1px solid #ff7b26;
}
body .wrap main section .work:nth-of-type(9) a:hover {
  background-color: #bba800;
  border: 1px solid #bba800;
}
body .wrap main section .work:nth-of-type(10) a:hover {
  background-color: #2d79b5;
  border: 1px solid #2d79b5;
}
body .wrap main footer {
  width: calc(100% + 48px);
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -24px;
  margin: 80px 0 0 0;
}
body .wrap main footer _::-webkit-full-page-media, body .wrap main footer _:future, body .wrap main footer :root .text {
  margin: 240px 0 0 0;
}
@media screen and (max-width: 670px) {
  body .wrap main footer _::-webkit-full-page-media, body .wrap main footer _:future, body .wrap main footer :root .text {
    margin: 80px 0 0 0;
  }
}
body .wrap main footer p {
  font-size: 16px;
  color: #ffffff;
  padding: 12px;
}/*# sourceMappingURL=style.css.map */